In [1]:
import pandas as pd
from pandasql import sqldf
import queries

df=pd.read_csv('billionaire.csv')

query = queries.BILLIONAIRE_QUERY
result = sqldf(query)
print(result)

     industries                 personName  finalWorth  industry_rank
0    Automotive                  Elon Musk      180000              1
1    Automotive                 Robin Zeng       33400              2
2    Automotive            Susanne Klatten       27400              3
3    Automotive              Stefan Quandt       24600              4
4    Automotive                    Eric Li       19000              5
..          ...                        ...         ...            ...
470  Technology                 Leo Koguan        5400             49
471     Telecom  Carlos Slim Helu & family       93000              1
472     Telecom              Masayoshi Son       22400              2
473     Telecom             Rocco Commisso        7800              3
474     Telecom                Xavier Niel        6700              4

[475 rows x 4 columns]